<h1>Product#index</h1>

<table>
<tr><th>Title</th><th>Price</th><th>Quantity</th></tr>
<tr>
<% @products.each do |t| %>
<td><%= t.title %></td>
<td><%= t.price%></td>
<td><%= t.stock_quantity%></td>
</tr>
<%end%>
